* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: transparent;
  height: 110px;
  display: flex;
  justify-content: center;
}

header .logo {
  position: fixed;

  width: 150px;
}

section {
  position: relative;
  width: 100%;
}

section.mainPage {
  position: fixed;
  top: 70px;
  /* padding-bottom: 50px; */
}

section.mainPage .imageWrap {
  height: 100vh;
}

section.mainPage .imageWrap .parallaxImage {
  position: fixed;
  width: 100%;
  height: inherit;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.mainPage .imageWrap .parallaxImage:nth-child(1) {
  background-image: url(../images/004.png);
}

section.mainPage .imageWrap .parallaxImage:nth-child(2) {
  background-image: url(../images/005.png);
}

section.mainPage .imageWrap .parallaxImage:nth-child(3) {
  background-image: url(../images/006.png);
}

section.mainPage .imageWrap .parallaxImage:nth-child(4) {
  background-image: url(../images/007.png);
}

section.mainPage .imageWrap .parallaxImage:nth-child(5) {
  background-image: url(../images/008.png);
}

section.subPage {
  z-index: 10;
  padding-top: 100vh;
  padding-bottom: 60px;
  width: 700px;
  margin: auto;
}

section.subPage .innerWrap {
  position: relative;
  background-color: rgba(50, 92, 62, 0.5);
  height: 550px;
  display: flex;
  flex-direction: column;
}

section.subPage .innerWrap .phrase {
  display: flex;
  justify-content: center;
}

section.subPage .innerWrap .phrase img {
  width: 70%;
}

section.subPage .innerWrap .btnWrap {
  display: flex;
  justify-content: space-evenly;
}

section.subPage .innerWrap .btnWrap img {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 20%;
  cursor: pointer;
}
